.header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: relative;
  z-index: 2;
  @include on-tablet {
    padding: 0 16px;
  }
  &__logo {
    height: 32px;
    z-index: 1;
  }
  &__hamburger-menu {
    display: block;
    @include on-desktop {
      display: none;
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;

    background-color: $color-light-blue;

    transition-duration: 0.25s;
    @include on-desktop {
      position: static;
      visibility: visible;
      width: auto;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include on-desktop {
      flex-direction: row;
      gap: 64px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    @include on-desktop {
      justify-content: start;
    }
  }
  &__link {
    text-decoration: none;
    @include font-style-normal;
    line-height: 28px;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: -100%;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $color-black;
      transition: 0.1s ease-in-out;
    }
    &:hover {
      &::after {
        left: 0;
      }
    }

    &--contact {
      display: flex;
      align-items: center;
      color: $color-accent-orange;
      font-weight: 500;
      text-transform: uppercase;
      &::after {
        display: none;
      }
      &:before {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        background: url("../src/images/icon/phone.svg") center no-repeat;
        margin-right: 4px;
      }
      &:hover:before {
        -webkit-animation: wiggle 0.1s alternate ease infinite;
        animation: wiggle 0.1s alternate ease infinite;
      }
    }
  }
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(35deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(35deg);
  }
}

.hamburger {
  &__toggle {
    display: none;
  }
  &__toggle:checked ~ &__btn > span {
    transform: rotate(45deg);
  }
  &__toggle:checked ~ &__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &__toggle:checked ~ &__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &__toggle:checked ~ .header__menu {
    visibility: visible;
    right: 0;
  }
  &__toggle:checked body {
    overflow: hidden;
  }
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 28px;
    right: 28px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
    @include on-desktop {
      display: none;
    }
  }
  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  &__btn > span::before {
    content: "";
    top: -8px;
  }
  &__btn > span::after {
    content: "";
    top: 8px;
  }
}
